<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- title是router里的index.js传过来的 -->
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
